docs/work/
build/
BuildTools/.build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.o
*.d
*.dia
*.swp
*~
.DS_Store
._*
.Trashes
.Spotlight-V100
.fseventsd
